<div class="p-grid">
    <div class="p-col-6 p-offset-3">
        <p-card>
            <p-header>
                SignIn
                <br>
                <br>
            </p-header>
            <div class=" p-field p-grid ">
                <label for="firstname3 " class="p-col-fixed " style="width:100px ">Username</label>
                <div class="p-col ">
                    <input id="firstname3 " type="text " pInputText>
                </div>
            </div>
            <div class="p-field p-grid ">
                <label for="lastname3 " class="p-col-fixed " style="width:100px ">Password</label>
                <div class="p-col ">
                    <input id="lastname3 " type="text " pInputText>
                </div>
            </div>
        </p-card>
    </div>
</div>